@use '../abstracts/mixins';

.game-over-screen {
    >p {
        font-size: var(--font-size-150);
        color: var(--background-color-button);
    }

    >div {
        @include mixins.flex(flex, center, center, column);

        >p {
            font-size: var(--font-size-24);
            color: var(--text-color);

        }

        >div {
            @include mixins.flex(flex, space-around, center, row);

            width: 222px;
            height: 66px;
            background-color: var(--background-color-banner);
            border-style: none;
        }
    }
}