@use '../abstracts/mixins';

.game-container {
    @include mixins.flex(flex, center, center, column);

}

.game-info-container {
    @include mixins.flex(flex, space-between, center, none);

    width: 90%;
    height: 62px;
    margin: 50px;
}

.game-points {
    @include mixins.flex(flex, start, center, row);

    width: 280px;
    height: 100%;

    gap:15px;

    >img{
        width: 25px;
        height: 25px
    }

    >p{
        font-size: 24px;
    }

}

.game-current-player {
    @include mixins.flex(flex, center, center, none);
    gap: 20px;

    >p {
        font-size: 32px;
        color: var(--p-white);
    }

    >img {
        width: 40px;
        height: 40px
    }
}

.game-exit {
    @include mixins.flex(flex, center, center, none);
    width: 280px;
    height: 100%;
    background-color: blanchedalmond;

    >button {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;

        >span {
            font-size: 24px;
        }
    }
}

.game {
    width: auto;
    height: 100%;
    display: grid;
    gap: 20px;
    justify-content: center;
    margin: 50px;
}

