@use '../abstracts/mixins';

.game-container {
    @include mixins.flex(flex, center, center, column);

}

.game-info-container {
    @include mixins.flex(flex, space-between, center, none);

    width: 90%;
    height: 62px;
    margin: 50px;

    background-color: var(--background-color-banner);
    border-radius: var(--border-radius-banner);
    padding: 15px; 
}

.game-points {
    @include mixins.flex(flex, space-around, center, row);

    width: 280px;
    height: 100%;

    background-color: var(--game-points-bg);
    border-color: var(--game-button-border-color);

    border-style: var(--game-button-border-style);
    border-width: var(--game-button-border-width);
    border-radius: var(--game-button-border-radius);

    >img {
        width: 25px;
        height: 25px
    }

    >p {
        font-size: 30px;
        font-weight: 1000;
    }

}

.game-current-player {
    @include mixins.flex(flex, center, center, none);
    gap: 20px;

    >p {
        font-size: 32px;
        color: var(--text-color);
    }

    >img {
        width: 40px;
        height: 40px
    }
}

.game-exit {
    @include mixins.flex(flex, center, center, none);
    width: 280px;
    height: 100%;

    >button {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: var(--game-button-color);
        border-color: var(--game-button-border-color);
        border-style: var(--game-button-border-style);
        border-width: var(--game-button-border-width);
        border-radius: var(--game-button-border-radius);

        >span {
            color: var(--text-color);
            font-size: 24px;
        }
    }
}

.game {
    width: auto;
    height: 100%;
    display: grid;
    gap: 20px;
    justify-content: center;
    margin: 50px;
}