.theme-food {
    --background-color: rgba(243, 243, 243, 1);

    --background-color-pop-up: rgba(246, 246, 246, 1);
    --font-color-popup: rgba(164, 82, 18, 1);
    --border-radius-popup: 20px;

    --background-color-button: rgba(255, 171, 62, 1);

    --background-color-banner: rgb(245, 220, 194);
    --border-radius-banner: 10px;

    --text-color: rgba(243, 131, 45, 1);

    --text-button: rgba(243, 243, 243, 1);
    --text-button2: rgba(243, 131, 45, 1);

    --font-main: "KleeOne";
    --font-size-32: 32px;

    --game-points-bg: rgba(255, 249, 242, 1);

    --game-button-color: rgba(255, 249, 242, 1);
    --game-button-border-color: rgba(243, 131, 45, 1);
    --game-button-border-style: solid;
    --game-button-border-width: 3px;
    --game-button-border-radius: 10px;


}