.theme-food {
    --background-color: rgba(255, 255, 255, 1);
    --background-color-pop-up: rgba(246, 246, 246, 1);
    --background-color-button: rgba(255, 171, 62, 1);
    --background-color-banner: rgba(240, 229, 217, 1);

    --text-color: rgba(243, 131, 45, 1);

    --text-button: rgba(255, 255, 255, 1);
    --text-button2: rgba(243, 131, 45, 1);

    --font-main: "KleeOne";
    --font-size-32: 32px;
    --font-size-24: 24px;
    --font-size-60: 60px;
    --font-size-110: 110px;
    --font-size-150: 150px;

    --win-screen-player-bg: rgba(247, 230, 213, 1);

    --game-points-bg: rgba(255, 249, 242, 1);

    --game-button-color: rgba(255, 249, 242, 1);
    --game-button-border-color: rgba(243, 131, 45, 1);
    --game-button-border-style: solid;
    --game-button-border-width: 3px;
    --game-button-border-radius: 10px;
}