@font-face {
  font-family: "Almarai";
  src: url(../../../public/assets/fonts/Almarai.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RedRose";
  src: url(../../../public/assets/fonts/RedRose.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KleeOne";
  src: url(../../../public/assets/fonts/KleeOne.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}